* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-header: 'Epilogue', sans-serif; /*Font Family (FF)*/
  --ff-texting: 'Open sans', sans-serif; /*Font Family (FF)*/

  --bg-primary: #28293e; /*Background (BG)*/
  --fc-primary: #ffffff; /*Font Color (FC) */
  --fc-secondary: #bbb3e6;
  --fc-secondary-dark: #090039;

  font-size: 62.5%;
  --fs-body: 1.6rem; /*Font size (FS)*/
  --fs-header: 4rem;
}

body {
  font-family: var(--ff-texting);

  background-color: var(--bg-primary);
  color: var(--fc-primary);

  font-size: var(--fs-body);
}

main {
  display: grid;
  gap: 3.2rem;
  padding-bottom: 10rem;
  animation: downtop 700ms 350ms backwards;
}
.page {
  max-width: 33rem;
  margin: 0 auto;
}
@media (min-width: 700px){
  
  :root {
    --fs-header: 5.6rem;
  }
  .page {
    max-width: 117rem;
    padding: 0 5rem;
  }
  main{
    grid-template-columns: 1fr 1fr;
  }
      
}
@media (min-width: 930px) {


  main {
    grid-template-areas: "A B B""C C D";
  }

    main div:nth-child(1){
      grid-area: A;
    }
    main div:nth-child(2){
      grid-area: B;
    }
    main div:nth-child(3){
      grid-area: C;
    }
    main div:nth-child(4){
      grid-area: D;
    }
  }
  
  img {
    width: 100%;
  height: auto;
}
header {
  font-family: var(--ff-header);
  text-align: center;
  margin: 10rem 0 8rem;
  animation: topdown 700ms;
}

header p {
  color: var(--fc-secondary);
  text-transform: uppercase;

  line-height: 3.2rem;
  letter-spacing: 3px;

  font-weight: 400;
  margin-bottom: 1.7rem;
}

header h1 {
  font-size: var(--fs-header);
  line-height: 4.8rem;
  font-weight: 800;
}

.card {
  position: relative;
  font-family: var(--ff-header);
}
.card img {
  height: 41.6rem;
  object-fit: cover;
  border-radius: 6px;

  transition: all 200ms;
}

.card img:hover {
  transform: scale(1.1);
  opacity: 0.4;
}

.card h2 {
  position: absolute;
  bottom: 3rem;
  left: 1.8rem;

  font-weight: 800;
  font-size: 4rem;

  line-height: 4.8rem;

  color: var(--fc-primary);

  display: flex;
  flex-direction: column;

  gap: 2.8rem;
}

.card h2 span {
  border-radius: 2rem;
  background-color: var(--fc-primary);
  font-size: var(--fs-body);
  font-weight: 400;
  color: var(--fc-secondary-dark);

  padding: 0 1.6rem;
  height: 3.8rem;
  width: fit-content;
  display: inline-flex;
  align-items: center;
}

@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes downtop {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
