*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  max-width: 100%;
  overflow-x: hidden;
}

body{
  background-color: #E5E5E5;
  font-family: 'Staatliches';
}
body::before {
    content: '';
    width: 100vw;
    height: 436px;
    background:#535971;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

.page{
  width: 750px;
  margin: 0 auto;
}
header{
 width: 417px;
 margin-top: 140px;
 display: flex;
 flex-direction: column;
}
header h1{
  
  font-size: 48px;
  line-height: 60px;
  color: white;

  margin-bottom: 18px;
}
header p{

  font-family: 'Poppins';

  font-size: 20px;
  line-height: 30px;

  color: white;
  margin-bottom: 58px;
}

form {
  min-height: 1000px;
  background: white;

  padding: 64px;
  gap: 31px;
  border-radius: 20px 20px 0 0;
  display: flex;
  flex-direction: column;
}

fieldset {
  border:none;
}
.fieldset-wrapper{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

fieldset legend{
  font-size: 24px;
  line-height: 34px;

  color: #535971;

  top: 0;
  left: 0;

  width: 100%;

  margin-bottom: 30px;
  border-bottom: 1px solid #E6E6F0;
  padding-bottom: 16px;
}

.input-wrapper label{
  font-size: 14px;
  line-height: 24px;
  font-family: 'Poppins';
  color: #4E4958;
}
.input-wrapper span{
  margin-left: 8px;
  font-size: 12px;
  line-height: 20px;
  color: #C1BCCC;
}
span:hover{
  color: #595464;
}
.input-wrapper{
  display: flex;
  flex-direction: column;
}
.input-wrapper input{
  border: 1px solid #E6E6F0;
  border-radius: 8px;
  
  height: 56px;
  padding: 0 24px;
  margin-top: 8px;
  
  font-size: 16px;
  line-height: 26px;
 
  color: black;
  background: #FAFAFC;
}

.full-name{
  display: flex;
  gap: 22px;
  align-items: center;
}
.input-text{
  width: 300px;
}

.col-3{
  display: flex;
  gap: 20px;

}

.col-3 > div:nth-child(1){
  width: 100%;
}

h2{
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
  
  color: #535971;
}

footer{
  height: 160px;
  background: #535971;
  border-radius: 0px 0px 20px 20px;

  display: flex;
  flex-direction: column;

  margin-bottom: 100px;
}

button{
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 15px 40px;
  margin: 52px 71px;

  border-radius: 20px;
  
  border: none;

  font-family: 'Staatliches';
  font-style: normal;
  font-weight: 400;

  font-size: 20px;
  line-height: 26px;

  color: white;
  background: #FF5374;
}

input:invalid{
  border: 1px solid #FF1010;
}
